@{
    ViewData["Title"] = "Register Complete";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Register Complete Succesfully</h3>
        <hr />
        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-info">
            <i class="fas fa-regular fa-refresh"></i>
            Please, Login Again
        </a>

    </div>
</div>