@model string;

@if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{

    <div class="text-white" style="position:fixed; right:25px; bottom:90px;">
        <a asp-action="Create" asp-controller="@Model" class="btn btn-outline-info">
            <i class="fas fa-regular fa-plus-square mr-2"></i>
            Create
        </a>
    </div>
}