@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@if(!User.Identity.IsAuthenticated)
{
<a class="btn btn-outline-info" asp-action="Login" asp-controller="Account">
    <i class="fas fa-regular fa-arrow-right-to-bracket"></i> Login
</a>
<a class="btn btn-outline-secondary" asp-action="Register" asp-controller="Account">
    <i class="fas fa-regular fa-arrow-right-to-bracket"></i> Register
    </a>
}
else
{
<div class="dropdown">
    <button class="btn btn-outline-info dropdown-toggle" id="profile-btn" data-toggle="dropdown">
            <i class="fas fa-person"></i> Hello,@_userManager.GetUserName(User)
    </button>
    <div class="dropdown-menu" area-labledby="profile-btn">

        <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
            <i class="fas fa- reguler fa-list-check"></i> Orders
        </a>
        
        @if (User.IsInRole("Admin"))
        {
         <hr />
        <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                <i class="fas fa- reguler fa-users"></i> Users
        </a>
        }
        <hr />
        <form asp-controller="Account" asp-action="Logout">
            <button class="dropdown-item">
                <i class="fas fa- reguler fa-arrow-right"></i>
                Logout
            </button>
        </form>
    </div>
    </div>
}