@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <img src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif" alt="Alternate Text" style="width:80%;height:500px;" />
    </div>
    <div class="col-md-4 offset-5">
        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Products">
            <i class="fas fa-regular fa-arrow-rotate-right"></i>
            Go To Home Page
        </a>
    </div>
</div>