/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*My Products Style*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0.0,0.2);
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-family: Arial;
    border-radius: 30px;
    height:610px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card img {
    align-self: center;
    padding-top:15px;
}


.card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: rgba(0,0.0,0.2);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 30px;
    align-self: center;
}
.card button:hover {
        opacity: 0.7;
    }

.dot {
    height: 25px;
    width: 25px;
    border-color: black;
    border: 5px solid;
    border-width: thin;
    margin-right: 20px;
    border-radius: 50%;
    display: inline-block;
}
.ProColorDisplay {
    display: inline; 
    height: 25px;
    width: 40px;
    
}





